version: '3.7'

services:
  {{ webapp.service.name }}:
    image: {{ webapp.image }}
    entrypoint: {{ webapp.command }}
    ports: {{ webapp.ports }}
    volumes:
      - {{ webapp.volumes.static }}:/app/web/staticfiles
      - {{ webapp.volumes.media }}:/app/web/mediafiles
      - {{ webapp.volumes.workdir }}:/home
    environment:
      SQL_ENGINE: {{ webapp.db.engine }}
      SQL_DATABASE: {{ webapp.db.name }}
      SQL_USER: {{ webapp.db.user }}  
      SQL_PASSWORD: {{ webapp.db.password }} 
      SQL_HOST: {{ webapp.db.host }} 
      SQL_PORT: {{ webapp.db.port }} 
