# https://wiki.archlinux.org/index.php/systemd#Writing_unit_files

[Unit]
Description={{ webapp.service.name }}
After=network.target docker.service

[Service]
Type=simple
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStartPre=-/usr/bin/docker-compose rm  -f {{ webapp.service.name }}
ExecStart=/usr/bin/docker-compose -f {{ webapp.volumes.workdir }}/{{ webapp.service.name }}/docker-compose.yml run \
--rm \
--service-ports \
--name {{ webapp.service.name }} \
{{ webapp.service.name }}

[Install]
WantedBy=multi-user.target
